<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/addSafefive.css">
    <script src="../public/js/fontsizeset.js"></script>
</head>
<body>
    <div id="addsafe">
        <div id="header">
          <div class="status-bar">
            <img src="{{png}}" alt>
          </div>
          <div class="add">
         <a href="/sign"><img src="{{return_png}}" class="return" @click="goTo"></a> 
            <span class="addsafe">{{add}}</span>
          </div>
        </div>
        <img src="{{ico_png}}" alt class="ico">
        <span class="add-box">{{add_box}}</span>
        <span class="automatic">{{automatic}}</span>
          <a href="/addSafe" class="QR-code">{{qr_code}}</a>
      </div>
</body>
</html>