{% extends "sign.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/cg.css">
</head>
<body>
    <div class="kuang">
    <h6>用户名与密码不符请重新输入用户名或密码</h6>
    <a class="define" href="/sign">确定</a>
    <a class="passwordr" href="/appRegister1">找回密码</a>
</div>
</body>
</html>
{% endblock %}
