*{
    /* z-index: 999; */
}
h6{
    float: left;
    /* font-size: 0.36rem; */
    color:red;
    margin-top: 0.3rem;
}
.kuang{
    border: 1px solid #0090ff;
    width: 7rem;
    height: 4rem;
    float: left;
   margin-top: -10rem;
   background-color: #ffffff;
   margin-left: 0.23rem;
   border-radius: 2%;
   z-index: 9999999;
}
.define{
    color: #0090ff;
    font-size: 0.36rem;
    /* border: 1px solid red; */
   display: inline-block;
   width: 1.5rem;
   height: 0.5rem;
   text-align: center;
   margin-left: 1rem;
   float: left;
   margin-top: 1rem
}
.passwordr{
    color: #0090ff;
    font-size: 0.36rem;
    /* border: 1px solid red; */
    display: inline-block;
    width: 1.5rem;
    height: 0.5rem;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
}




