
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/ad.css">
    <script src="../public/js/fontsizeset.js"></script>
    <meta http-equiv="refresh" content="3;URL=/sign">
</head>
<body>
    <div id="app">
    <div id="ad">
        <img src="/public/images/状态栏.png" alt class="status_bar">
        <img src="/public/images/tuq.png" alt class="tuq">
        <span class="Title">{{text}}</span>
        <span class="Explain">{{text1}}</span>
        <span id="num">{{count}}</span>
        <a href="/sign">跳过广告</a>
      <div>
</body>
</html>
