<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/fourtent-app.css">
    <script src="/public/js/fontsizeset.js"></script>
</head>
<body>
    <div id="app">
    <div class="head">
        <div class="head_one">
            <img src="/public/images/状态栏.png" alt="" class="head_one_img">
          </div>
           <div class="head_two">
            <a href="/appDateils">
                    <img src="/public/images/Return.png" alt="" class="head_two_img">
            </a>
            <span class="head_two_span">我的</span>
          </div>
          <div class="head_three">
            <img src="/public/images/Headportrait.png" alt="" class="head_three_img">
            <p class="head_three_p">2154003540</p>
          </div>
      </div>
      <!-- 头部 -->


      <div class="content">
        <div class="content_one">
            <input type="text" value="    通知消息" class="content_one_input">
          <img src="/public/images/未标题-1.png" alt class="content_one_img">
        </div>
        <div class="content_two">
            <input type="text" value="    修改密码" class="content_two_input">
          <img src="/public/images/未标题-1.png" alt class="content_two_img">
        </div>
        <div class="content_three">
            <input type="text" value="    意见反馈" class="content_three_input">
          <img src="../public/images/未标题-1.png" alt class="content_three_img">
        </div>
        <div class="content_four">
            <input type="text" value="    关于" class="content_four_input">
          <img src="../public/images/未标题-1.png" alt class="content_four_img">
        </div>
        <div class="content_five">
          <a href="/sign"><span class="content_five_span">退出登录</span></a>
        </div>
      </div>
      <!-- 内容 -->

    </div>
</body>
</html>