* {
    margin: 0;
    padding: 0;
  }
  .Header {
    width: 7.65rem;
    height: 0.88rem;
    background-color: black;
    float: left;
    margin-left: -0.15rem;
    margin-top: -0.15rem;
  }
  .Header .jiao {
    float: left;
    width: 0.15rem;
    height: 0.3rem;
    margin-top: 0.35rem;
    margin-left: 0.3rem;
  }
  .Header .zhu {
    margin-top: 0.28rem;
    margin-left: 3.55rem;
    font-size: 0.31rem;
    color: white;
  }
  .body .hr1 {
    float: left;
    margin-top: 0.45rem;
    margin-left: 0.4rem;
    width: 6.91rem;
  }
  .body .k1 {
    float: left;
    font-size: 0.29rem;
    border: none;
    margin-top: 0.5rem;
    margin-left: 0.63rem;
    opacity: 0.55;
  }
  .body .z1 {
    float: left;
    font-size: 0.29rem;
    margin-left: 0.4rem;
    margin-top: 0.47rem;
  }
  .body .hr2 {
    float: left;
    margin-top: 0.21rem;
    margin-left: 0.4rem;
    width: 6.91rem;
  }
  .body .z2 {
    float: left;
    font-size: 0.29rem;
    margin-left: 0.4rem;
    margin-top: 0.47rem;
  }
  .body .k2 {
    float: left;
    font-size: 0.29rem;
    border: none;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    opacity: 0.55;
  }
  .body .hr3 {
    float: left;
    margin-top: 0.21rem;
    margin-left: 0.4rem;
    width: 6.91rem;
  }
  .body .z3 {
    float: left;
    font-size: 0.29rem;
    margin-left: 0.4rem;
    margin-top: 0.47rem;
  }
  .body .k3 {
    float: left;
    font-size: 0.29rem;
    border: none;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
    opacity: 0.55;
  }
  .body .hr4 {
    float: left;
    margin-top: 0.21rem;
    margin-left: 0.4rem;
    width: 6.91rem;
  }
  .body .a1 {
    float: left;
    text-decoration: none;
    font-size: 0.29rem;
    color: #0091ff;
    margin-left: 5.5rem;
    margin-top: -1.7rem;
  }
  .body .z4 {
    float: left;
    width: 6.9rem;
    height: 0.88rem;
    background-color: #0091ff;
    border: 0px solid #0091ff;
    margin-top: 0.35rem;
    margin-left: 0.4rem;
    font-size: 0.29rem;
    color: white;
    border-radius: 0.05rem;
  }
  .footer .f1 {
    float: left;
    font-size: 0.29rem;
    margin-top: 6.78rem;
    margin-left: 2.23rem;
  }
  .footer .f1 .a3 {
    text-decoration: none;
    color: #0091ff;
  }